* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

.container {
  height: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px 10px;
  background-image: linear-gradient(yellow, green);
  opacity: 86%;
  font-size: 30px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: blue;
  box-shadow: 2px 4px 8px 5px;
  padding: 20px 40px;
}

nav ul li {
  list-style: none;
  cursor: pointer;
}
