* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: end;
  text-decoration: none;
  border: 2px solid red;
}

/* .nav {
  border: 2px solid green;
  align-items: center;
} */

.nav div {
  display: flex;
  justify-items: row;
  gap: 40px;
  font-size: 30px;
  align-items: center;
}
